body {
}

#wrapper {

    width: 900px;

    margin: 30px auto;
    margin: 30px auto 30px auto;
    background-color: beige;

}

#slot1 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;


}

#slot2 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

#slot3 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

#slot4 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}
#slot5 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

#slot6 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

#slot7 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

#slot8 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

fieldset{
  

}

label{

     display: inline-block;
  
  text-align: right;
}
