body {
}

#wrapper {

    width: 900px;

    margin: 30px auto;
    margin: 30px auto 30px auto;
    background-color: beige;

}

#slot {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;

}

fieldset{
  

}

label{

     display: inline-block;
  
  text-align: right;
}
